@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.otter-keg-main {
    width: 100%;
    height: 100%;

    .keg-details {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: 10px;
    }

    .keg-details-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }
    
    .keg-details-row.header {
        height: 20%;
    }

    .keg-details-row.image {
        height: 40%;
    }

    .keg-details-row.footer {
        height: 40%;
    }

    .keg-details-col {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center;
        border-left: solid 2px $pt-dark-divider-white;
        margin-left: -1px;

        p.beer-title {
            font-size: 2em;
        }

        img.beer-logo {
            height: 100%;
        }

        p.beer-description {
            font-style: italic;
            max-height: 60%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 10px;
        }
    }

    .keg-details-col:nth-child(1) {
        border-left: none !important;
        margin-left: 0px !important;
    }
}