@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.otter-keg-main {
    width: 100%;
    height: 100%;
    padding-left: 10vw;
    padding-right: 10vw;

    .keg-details {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: 10px;
    }

    .keg-details-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }
    
    .keg-details-row.header {
        height: 20%;
    }

    .keg-details-row.image {
        height: 40%;
    }

    .keg-details-row.footer {
        height: 40%;
    }

    .keg-details-col {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center;
        border-left: solid 2px $pt-dark-divider-white;
        margin-left: -1px;

        p.beer-title {
            font-size: 3em;
        }

        img.beer-logo {
            height: 100%;
        }

        p.beer-description {
            font-style: italic;
            max-height: 60%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 10px;
        }
    }

    .keg-details-col:nth-child(1) {
        border-left: none !important;
        margin-left: 0px !important;
    }

.marquee { 
    overflow:hidden;
    height:100px;
    position:relative;
    }
.marquee i {
position:absolute;
width:100%;
height:100%;
font-size:1em;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);  
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: marquee 15s linear infinite;
 -webkit-animation: marquee 15s linear infinite;
 animation: marquee 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes marquee {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marquee {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes marquee {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);     
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
      }
}